# ENVO USERBOT
# Created by @envologia

# ——— Ultroid-Required ———
# Get from my.telegram.org
API_KEY="9411143"
API_HASH="25a0788704f36276472b76b216faea33"

# Get from @BotFather
BOT_TOKEN="8598947601:AAE9mo046BwozMUeLkZ4K_vgk9kYkcUtOhA"

# Any string
SESSION="1BJWap1sBuwx37JY_6Tf9F3uZC0c7e03Ac8-W9XxQqssS-ErmTwTaKLzi1P2tmCaHsyS31FBSRLsZjZN-8FECGmBSf7m5bZolxLnM9MiCQHNrsUWiIQWM7Z8DuT_VgFyaxkWoLgCsQ-puChQC6ZN5sqqF1_VGmiYmfAf6KRrKTEuDVu6mbCeVKurtmexd97-pR6xy90EoYNs2lSp0K5rFkZjJV1n8vneZ5GAKJN7gJV4PENF9DwIp4Q2n19TFnIS6z5sVnwee1MyBz-3gQB7pbhQX5B5DOByUXX5AwQoDh9tvmF4ZOu7Pn-zheQua6zEu9ycz81sYn48bd-55MgJQJra6uTZHOH0="

# For Redis DB
REDIS_URI="redis://default:AWuLGPs5derlUVfJdH9V6dlEyjoMlnAM@redis-16121.c275.us-east-1-4.ec2.cloud.redislabs.com:16121"
REDIS_PASSWORD="AWuLGPs5derlUVfJdH9V6dlEyjoMlnAM"

# For OpenRouter API
OPENROUTER_API_KEY="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"
